ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 2px;
    overflow: hidden;
    background-color: #333;
    position:relative;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    font-family: 'Libre Baskerville', serif;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}
img {
    border-top: solid white 5px;
    border-left: solid white 5px;
    border-right: solid white 5px;
    border-bottom : solid white 5px;
}
body{
    background-color: black;
    color: white;

    /*font-family: 'Amiko', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/
font-family: 'Raleway', sans-serif;
}
button{
    font-family: 'Vollkorn', serif;
}
#header{
    background-image: url(https://yonkokilasi.files.wordpress.com/2016/06/6tag_120616-165944.jpg);
    height: 500px;
    width:1200px;
    padding: 10px;
    margin: 100px;
    font-size: 30px;
    font-family: 'Mr Dafoe', cursive;
}
#cam {
    width: 100px;
    height: 100px;
    background-color: none;
    position: fixed;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 5s;
    /*animation-iteration-count: 3;
    animation-direction: alternate;*/
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color:none; left:0px; top:0px;}
    25%  {background-color:none; left:1300px; top:0px;}
    50%  {background-color:none; top:1000px;}
    75%  {background-color:none; top:20px; }
    100% {background-color:none;  left:1300px;}
}


.head{
    font-size: 30px;
    text-align: center;
}

h1 {
    font-family: Amiko;
}
