html {
    height: 100%;
}
/*navbar styling*/
.navbar-default {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: #E7E7E7;
    padding: 10px;
}

.navbar-default .navbar-brand {
    padding-top: 8px;
    transform: translateY(-35px);
}

.navbar-header  {
    height: 100px;
    width: 120px;
}

/* Link */

.navbar-default .navbar-nav > li > a {
    /*color: #FFFFFF;*/
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    /*color: #000000;*/
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000000;
}
/*end of navbar*/