ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 2px;
    overflow: hidden;
    background-color: #333;
    position:relative;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    font-family: 'Libre Baskerville', serif;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}
img {
    border-top: solid white 5px;
    border-left: solid white 5px;
    border-right: solid white 5px;
    border-bottom : solid white 5px;
}
body{
    background-color: black;
    color: white;

    /*font-family: 'Amiko', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/
font-family: 'Raleway', sans-serif;
}
button{
    font-family: 'Vollkorn', serif;
}
#header{
    background-image: url(https://yonkokilasi.files.wordpress.com/2016/06/6tag_120616-165944.jpg);
    height: 500px;
    width:1200px;
    padding: 10px;
    margin: 100px;
    font-size: 30px;
    font-family: 'Mr Dafoe', cursive;
}

.head{
    font-size: 30px;
    text-align: center;
}

h1 {
    font-family: Amiko;
}
