html {
    height: 100%;
}


/*navbar styling*/

.navbar-default {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: #E7E7E7;
    padding: 10px;
}

.navbar-default .navbar-brand {
    padding-top: 8px;
    transform: translateY(-35px);
}

.navbar-header {
    height: 50px;
    width: 60px;
}


/* Link */
.navbar-default .navbar-nav > li > a {
    /*color: #FFFFFF;*/
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #000000;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000000;
}


/*end of navbar*/

#port {
    margin-top: 70px;
    background-image: url(../images/portraits/IMG_2433.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    margin-bottom: 20px solid blue;
}

#long {
    margin-top: 5px;
    background-image: url(../images/long-exposure/7.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

#silhouettes {
    margin-top: 5px;
    background-image: url(../images/silhouettes/19.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
#Sunsets {
    margin-top: 5px;
    background-image: url(../images/Sunset/22.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

#city {
    margin-top: 5px;
    background-image: url(../images/city/IMG_2556.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.image {
    display: block;
    width: 100vw;
    height: 70vh;
}

/*
.overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: none;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: 1.5s ease;
}

.text {
    color: white;
    font-size: 50px;
    position: absolute;
    font-family: 'Vollkorn', serif;
    overflow: hidden;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); 

}

.landing:hover .overlay {
    width: 100%;    
    left: 2px;
}
*/


#long:hover {
        opacity: 0.8;
    }

#port:hover {
        opacity: 0.8;
    }
a {
    color: white;
}



/*_______________________________________________*/
/*Wanjugu's Edits'*/
/*_______________________________________________*/

.landing {
    position: relative;    
}

.landing>div {
    position: relative;    
}

.overlay {
    position: relative !important;
    width: 0%;
    height: 100vh;
    transition: 1.5s ease;
}

.text {
    color: white;
    font-size: 50px;
    width: 100%;
    height: 100vh;
    font-family: 'Vollkorn', serif;
    overflow: hidden;
/*
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); 
*/

/* Centering The Text*/
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}


#port:hover .overlay, #long:hover .overlay, #silhouettes:hover .overlay, #Sunsets:hover .overlay, #city:hover .overlay {
     width: 100%;
    height: 100vh;
/*    visibility: visible;*/
    
}
#port:hover .text, #long:hover .text, #silhouettes:hover .text, #Sunsets:hover .text, #city:hover .text {
     width: 100%;
    height: 100vh;
/*    visibility: visible;*/
    
}












